.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
}

.movie__poster {
    object-fit: cover;
    height: 400px;
    width: 300px;
    opacity: 1;
    transition: 0.5s ease;
}

.movie__select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__select:hover {
    cursor: pointer;
}

.movie__select:hover .movie__poster {
    opacity: 0.5;
}

.movie > Button {
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}