.movie__nominated {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}

.movie__nominated__image {
    opacity: 1;
    transition: 0.5s ease;
    object-fit: cover;
    height: 400px;
    width: 300px;
}

.movie__nominated__select:hover {
    cursor: pointer;
}

.movie__nominated__select:hover .movie__nominated__image {
    opacity: 0.5;
  }


.movie__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__nominated > Button {
    margin-top: 20px;
}